html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

#leftContainer {
    background-color: black;
    flex: 1 1 0;
    overflow: hidden;
    position: relative;
}

img {
    max-height: 100%;
}

#rightContainer {
    padding: 20px;
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
